@font-face{
    font-family: myradpro;
    src: url(../fonts/FontsFree-Net-MYRIADPRO-REGULAR.ttf)
}
@font-face{
    font-family: montserrat;
    src: url(../fonts/FontsFree-Net-Montserrat-SemiBold.ttf)
}
.container-fluid{
    position: relative;
    background-color: #fff;
    width: 100vw;
    height: 6vw;
}
body{
    background-color: #192b35; 
    padding: 0;
}
#logo{
    height: 5vw;
    width: 20vw;
    float: left;
}
ul{
    padding-left: 8vw;
    padding-top: 1vw;
}
a{
    text-decoration:none;
    color: black;
    font-size: 1vw;
    font-family: montserrat;
}
li{
    float: left;
    padding-left: 4vw;
    list-style: none;
}
input{
    margin-left: 8vw;
    margin-top: 1.4vw;
    width: 22vw;
    border-radius: 10px;
    height: 2vw;
    text-align: end;
    padding-right: .4vw;
    font-size: 1.2vw;
    float: left;
}
#b{
    height: 2vw;
    padding-top: 1.5vw;
    padding-left: 2vw;
}
#gril{
    height: 35vw;
    position: absolute;
    top: 11vw;
    right: 20vw;
}
#gril:hover {
    width: 30vw;
    height: 40vw;
    transition: all 5s;
  }
#o{
    height: 35vw;
    position: absolute;
    top: 12vw;
    right: 12vw;
}
#o:hover {
    width: 30vw;
    transition: all 5s;
  }
.div2{
    position: relative;
}
#d{
    width: 13vw;
    position: absolute;
    top: 6vw;
    right: 75vw;
}
#p1{
    position: absolute;
    top: 7vw;
    right: 59vw;
    font-size: 2vw;
    padding-right: 9vw;
    width: 20vw;
    color: #0adab9;
    font-family: myradpro;
}
#p2{
    position: absolute;
    top: 8vw;
    right: 59vw;
    font-size: 4vw;
    padding-left: 7vw;
    width: 29vw;
    color: #fff;
    font-family: myradpro;
}
#p3{
    position: absolute;
    top: 21vw;
    right: 59vw;
    font-size: 1.3vw;
    padding-left: 7vw;
    width: 29vw;
    color: #fff;
    font-family: myradpro;
}
button{
    position: absolute;
    top: 28vw;
    right: 78vw;
    font-size: 1vw;
    width: 10vw;
    height: 3vw;
    border-radius: 20px;
    background-color: #1b202d;
    color: #ffff;
    border-color: #fff;
    font-family: myradpro;
}
#j{
    height: 3vw;
    position: absolute;
    top: 32.4vw;
    right: 84vw;
    background-color: #fff;
    border-radius: 50%;

}
#k{
    height: 3vw;
    position: absolute;
    top: 32.4vw;
    right: 80vw;
    background-color: #fff;
    border-radius: 50%;
}
#l{
    height: 2.4vw;
    position: absolute;
    top: 32.4vw;
    right: 76vw;
    background-color: #fff;
    border-radius: 50%;
    padding: .3vw;
    width: 2.3vw
}
#e{
    width: 2vw;
    position: absolute;
    top: 32vw;
    right: 87.5vw;
}
#h{
    width: 8vw;
    position: absolute;
    top: 32vw;
    right: 59vw;
    animation-name: example;
    animation-duration: 4s;
    animation-direction: reverse; 
}
@keyframes example {
    100%  {left:90vw; right:0vw;}
}
#g{
    width: 8vw;
    position: absolute;
    top: 30vw;
    right: 57vw;
    animation-name: good;
    animation-duration: 14s;
    animation-delay: 10s;
    animation-direction: reverse; 
}
@keyframes good {
    50%  {top:0vw; right:0vw;}
}

#c{
    width: 5vw;
    position: absolute;
    top: 21vw;
    right: 56vw;
}
#f{
    width: 14vw;
    position: absolute;
    top: 7vw;
    right: 49vw;
    animation-name: nice;
    animation-duration: 9s;
    animation-delay: 12s;
    animation-direction: reverse; 
}
@keyframes nice {
    100%  {top:40vw; bottom:0vw;}
}
#p4{
    width: 12vw;
    font-size: 1.7vw;
    text-align: start;
    position: absolute;
    top: 9vw;
    right: 47vw;
    color: #fff;
    font-family: myradpro;
}
#i{
    width: 20vw;
    position: absolute;
    top: 12vw;
    right: 87vw;
}
#m{
    width: 22vw;
    position: absolute;
    top: 2vw;
    right: 0vw;
}
/*font awsome*/
.fawsome{
    position: relative;
}
i{
    height: 2vw;
    width: 2vw;
}
.fa-instagram{
    background-color: #0adab9;
    position: absolute;
    top: 33vw;
    right: 4vw;
    padding-left: 1vw;
    padding-top: 1vw;
    border-radius: 55%;
    color: #1b202d;
}
.fa-twitter{
    background-color: #0adab9;
    position: absolute;
    top: 36.5vw;
    right: 4vw;
    padding-left: 1vw;
    padding-top: 1vw;
    border-radius: 55%;
}
.fa-facebook-f{
    background-color: #0adab9;
    position: absolute;
    top: 40vw;
    right: 4vw;
    padding-left: 1vw;
    padding-top: 1vw;
    border-radius: 58%;
}
.fa-whatsapp{
    background-color: #0adab9;
    position: absolute;
    top: 43.5vw;
    right: 4vw;
    padding-left: 1vw;
    padding-top: 1vw;
    border-radius: 55%;
}




